
div
{
overflow-x : hidden;
overflow-y : hidden;
}

.body_t
{
overflow-x : hidden;
overflow-y : hidden;
width : var(--view_width);
height : var(--view_height);
z-index : 0;
}

.bg_night
{
width : var(--view_width);
height : var(--view_height);
z-index : 1;
position : absolute;
transition : opacity 1s;
top : 0px;
left : 0px;
}

.bg_dawn
{
width : var(--view_width);
height : var(--view_height);
z-index : 2;
position : absolute;
transition : opacity 1s;
top : 0px;
left : 0px;
}

